.container {
  display: flex;
  justify-content: center;

  width: 100vw;

  box-shadow: 0 0 15px var(--container-shadow);

  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 992px;
    .logo {
      padding: 0.5rem;
      margin-right: auto;
    }
  }
}
